/* Empty. Add your own CSS if you like */


.painel_busca
{
    padding: 10px;
}

input[type="text"] {
    font-family: Arial, san-serif;
    font-size: large;
    border:1px solid #d5d5d5;
}

.coluna{
   border-style: solid;
   border-width: 1px;
}

.linha
{
  text-align: center;
  color: #FFFFFF;   
}

span{
  color: #000000; 
}

